/* Image resources */
Medium_Drink_Character  RCDATA "res/Medium Drink Character.png"
Medium_Drink_Health     RCDATA "res/Medium Drink Health.png"
Medium_Drink_Other      RCDATA "res/Medium Drink Other.png"
Medium_Drink_Strength   RCDATA "res/Medium Drink Strength.png"
Fellowship_Character      RCDATA "res/Fellowship Character.png"
Fellowship_Health         RCDATA "res/Fellowship Health.png"
Fellowship_Other          RCDATA "res/Fellowship Other.png"
Fellowship_Strength       RCDATA "res/Fellowship Strength.png"
Soft_Drink_Character    RCDATA "res/Soft Drink Character.png"
Soft_Drink_Health       RCDATA "res/Soft Drink Health.png"
Soft_Drink_Other        RCDATA "res/Soft Drink Other.png"
Soft_Drink_Strength     RCDATA "res/Soft Drink Strength.png"
Strong_Drink_Character  RCDATA "res/Strong drink Character.png"
Strong_Drink_Health     RCDATA "res/Strong Drink Health.png"
Strong_Drink_Other      RCDATA "res/Strong Drink Other.png"
Strong_Drink_Strength   RCDATA "res/Strong Drink Strength.png"
Site_Background         RCDATA "res/Site Background.png"
Site_Direction_Left     RCDATA "res/Site Direction Left.png"
Site_Direction_Right    RCDATA "res/Site Direction Right.png"
Site_Twilight_Cost      RCDATA "res/Site Twilight Cost.png"
LOTW_Title              RCDATA "res/LOTW Title.png"
LOTW_Cardspread         RCDATA "res/LOTW Cardspread.png"
LOTW_Cards              RCDATA "res/LOTW Cards.png"
LOTW_Sites              RCDATA "res/LOTW Sites.png"
LOTW_Decks              RCDATA "res/LOTW Decks.png"
Transparent_Pixel       RCDATA "res/Transparent Pixel.png"
